<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.kgraph.mapper.RelationMapper">
  <insert id="insertBatch">
    INSERT INTO relations(user_id, graph_category, source_id, target_id, relation_type, weight) VALUES
    <foreach collection="list" item="r" separator=",">
      (#{r.userId}, #{r.category}, #{r.sourceId}, #{r.targetId}, #{r.relationType}, #{r.weight})
    </foreach>
  </insert>
  <select id="findByUserId" resultType="com.study.kgraph.entity.Relation">
    SELECT id, user_id as userId, graph_category as category, source_id as sourceId, target_id as targetId, relation_type as relationType, weight FROM relations WHERE user_id = #{userId}
  </select>
  <select id="findByUserIdAndCategory" resultType="com.study.kgraph.entity.Relation">
    SELECT id, user_id as userId, graph_category as category, source_id as sourceId, target_id as targetId, relation_type as relationType, weight FROM relations WHERE user_id = #{userId} AND graph_category = #{category}
  </select>
  <delete id="deleteByUserId">
    DELETE FROM relations WHERE user_id = #{userId}
  </delete>
  <delete id="deleteByUserIdAndCategory">
    DELETE FROM relations WHERE user_id = #{userId} AND graph_category = #{category}
  </delete>
  <update id="updateCategory">
    UPDATE relations SET graph_category = #{newName} WHERE user_id = #{userId} AND graph_category = #{oldName}
  </update>
</mapper>
